*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    background-color:#FCCD2A ;
}
h1{
font-size: 10vh;
color: rgb(8, 6, 6);
}
 #con{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

} 
#game{
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns:repeat(3,3fr);
    background-color: #114232;
    gap: 1vh;
    border-radius: 5vh;
    border: 2px solid #F7F6BB;
    padding:  4vw 4vw 4vw 4vw;
    margin: 3vh 3vh 3vh 3vh;
}
.boxes{
    height:12vh;
    width: 12vh;
    position: relative;
     border: 3px solid #F7F6BB;
    border-radius: 5vh;
    text-align:center;
    box-shadow:2px 2px 2px 2px  black;
font-size:5vh;
color: black;
}
.button{
    height: 50px;
    width: 150px;
    color:black;
    background-color: #654e87;
    border: 2px solid white;
    border-radius: 2.5vh;
    font-weight: 1000;
}
#hh{
    font-weight: bolder;
}
.msgcon{
height: 100px;
text-align: center;
gap: 5vh;
font-size: 5vh;
color: white;
font-weight: bold;

}
.hide{
    display: none;
}
.msg{
    color: black;
    line-height: 6vh;
    font-size: 3vh;
}
.button2{
    height: 5vh;
    color:black;
    background-color: #F7F6BB;
    border: 2px solid black;
    border-radius: 1vh;
    font-weight: 1000;
}
